select.mySelect{
    appearance: none;
    background-color: #60abab;
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    color: aliceblue;
    font-size: 1.2rem;
}